@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    :root {
        --base-color-dark: #161616;
        --highlight-color-dark: #222;
    }
    html {
        scroll-behavior: smooth;
    }
    *::-webkit-scrollbar {
        width: calc(0.5vw + 0.2rem);
    }
    *::-webkit-scrollbar-thumb {
        @apply rounded-full bg-[#b1b1b1] dark:bg-[#303030];
    }
    body.dark::-webkit-scrollbar-thumb {
        @apply bg-[#303030];
    }
    .scrollbar-hidden::-webkit-scrollbar {
        @apply w-0;
    }
    body {
        @apply bg-primaryLight;
        font-family: 'Inter', sans-serif;
        background-image: radial-gradient(#ddd 1px, transparent 0), radial-gradient(#ddd 1px, transparent 0);
        background-position:
            0 0,
            25px 25px;
        background-size: 50px 50px;
    }
    body.dark {
        @apply bg-primaryDark;
        background-image: radial-gradient(#333 1px, transparent 0), radial-gradient(#333 1px, transparent 0);
    }
    body.dark .react-loading-skeleton {
        --base-color: #161616;
        --highlight-color: #222;
    }
    .benefit-icon {
        @apply aspect-square min-w-[2rem] text-[2rem];
    }
    .input-checkbox {
        @apply relative h-5 w-5 cursor-pointer appearance-none rounded-sm border border-accentDark;
    }
    .input-checkbox:checked {
        @apply bg-black dark:bg-white;
    }
    .input-checkbox:checked::before {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-xl text-white content-["\2713"] dark:text-black;
    }
    .theme-icon {
        @apply box-content rounded-md p-2 text-2xl text-white hover:bg-[rgb(236,236,236)] dark:hover:bg-[rgb(37,37,37)];
    }
    .theme-icon.light {
        @apply text-black;
    }
    .outline-style {
        @apply outline outline-2  outline-[#5EB0EF] dark:outline-[#1276E2];
    }
}
