@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body {
        @apply bg-primaryLight;
        font-family: 'Inter', sans-serif;
        background-image: radial-gradient(#ddd 1px, transparent 0), radial-gradient(#ddd 1px, transparent 0);
        background-position:
            0 0,
            25px 25px;
        background-size: 50px 50px;
    }
    body.dark {
        @apply bg-primaryDark;
        background-image: radial-gradient(#333 1px, transparent 0), radial-gradient(#333 1px, transparent 0);
    }
    .benefit-icon {
        @apply text-[2rem] min-w-[2rem] aspect-square;
    }
    .input-checkbox {
        @apply appearance-none w-5 h-5 border border-accentDark rounded-sm relative cursor-pointer;
    }
    .input-checkbox:checked {
        @apply bg-black dark:bg-white;
    }
    .input-checkbox:checked::before {
        @apply content-["\2713"] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-xl dark:text-black text-white;
    }
    .theme-icon {
        @apply text-white text-2xl border bg-primaryLight dark:bg-primaryDark border-accentLight dark:border-[rgb(58,58,58)] hover:bg-[rgb(236,236,236)] dark:hover:bg-[rgb(43,43,43)] p-2 box-content rounded-md transition-colors;
    }
    .theme-icon.light {
        @apply text-black;
    }
}
